@{
    ViewData["Title"] = "Rainbow Page";
}

<div id="rainbow-text">
    <p id="red">Red</p>
    <p id="orange">Orange</p>
    <p id="yellow">Yellow</p>
    <p id="green">Green</p>
    <p id="blue">Blue</p>
    <p id="indigo">Indigo</p>
    <p id="violet">Violet</p>
</div>


